dist: trusty
sudo: required

node_js:
  - 12

install:
  - npm install

script:
  - npm test
  - cat coverage/lcov.info | ./node_modules/.bin/coveralls

cache:
  directories:
    - $HOME/.npm
    - $HOME/.sonar/cache
    - $HOME/.sonar/native-sonar-scanner
